<html ng-app="ssmApp">
    <head>
        <title>Salon Spa Manager</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" media="screen" href="/lib/bootstrap/css/bootstrap.css">
        <script type='text/javascript' src='/lib/angular/angular.js'></script>
        <script type='text/javascript' src='/lib/angular-route/angular-route.js'></script>
        <script type='text/javascript' src='/lib/angular-resource/angular-resource.js'></script>
        <script src="@routes.Assets.at("javascripts/angularservices.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/angularapp.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/productctrl.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/servicectrl.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/roomctrl.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/stylistctrl.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/clientctrl.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/clientvisitctrl.js")" type="text/javascript"></script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">&nbsp;</div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-12">&nbsp;</div>
                        <div class="col-md-12">Operations</div>
                        <div class="col-md-12"><a href="#/client">Clients</a></div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div>Administration |
                    <a href="#/product">Products</a> |
                    <a href="#/service">Services</a> |
                    <a href="#/room">Rooms</a> |
                    <a href="#/stylist">Stylists</a></div>
                    <div ng-view></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">&nbsp;</div>
                <div class="col-md-4">&nbsp;</div>
                <div class="col-md-4">&nbsp;</div>
            </div>
        </div>
        <script src="/lib/jquery/jquery.min.js"></script>
        <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>
